html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #f2f1ff;
}

.card {
    background-color: #e8e5ff;
}

/*.btn-info {
    background-color: #5f16ff; 
    border-color: #5f16ff;
    color: #fff; 
}
    .btn-info.disabled,
    .btn-info:disabled {
        color: #fff; 
    }

    .btn-info:hover {
        background-color: #6b57cf; 
        border-color: #6b57cf; 
    }

    .btn-info:active {
        box-shadow: 0 0 0 0.2rem rgba(177, 127, 255, 0.5);*/ /* Cambia el color de la sombra a lila */
    /*}*/

#toggleInactiveButton {
    background-color: #b4a7ff;
    border-color: #b4a7ff;
    color: #fff;
    border: none; 
    box-shadow: none;
}

